<div class="row mt-3">
    <div class="col-3 mx-auto">
        <img class="img-fluid" src="{{product.imageUrl}}">
    </div>

    <div class="col-9 mx-auto">
        <h3 style="font-size:4vw; color:red">{{product.itemName}}</h3>
        <p style="font-size:1.0vw;"> {{ product.description }}</p>        
        <p class="align-content-end mr-2" style="font-size:2.0vw;">${{ product.price }}.00</p>
        <a href="/shop/add-to-cart/{{product._id}}" class="btn btn-success align-content-end"> <i class="fas fa-cart-plus"></i> Add to cart</a>    
    </div>
</div>